*{
  margin: 0;
  padding: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

body::-webkit-scrollbar{
  display: none;
}

.circle{
  background-color: #76ABAE;
  width: 250px;
  height: 250px;
  position: fixed;
  z-index: 999999;
  right: 0;
  bottom: 0;
  margin-right: -100px;
  margin-bottom: -105px;
  border-radius: 50%;
  filter: blur(50px);
}

.home{
  background-color: #222831;
  width: 100%;
  height: 100dvh; /* 100 to 40 */ 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.5s;
  overflow-x: hidden;
}

.home-animate{
  height: 40dvh !important;
}

.home .card{
  z-index: 1;
  background-color: #76ABAE;
  width: 100%;
  height: 60vh; /* 60vh to 30vh */
  position: fixed;
  top: 0;
  border-radius: 0 0 25% 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s height;
}

.card-animate{
  height: 30vh !important;
}

.home .card h2{
  color: #31363F;
  margin-top: 130px;
  font-size: 40px;
}

.home .card .search{
  width: 50%;
  display: flex;
}

.home .card .search input {
  margin-bottom: 45px;
  border-radius: 7px 0 0 7px;
  border: none;
  outline: 2px solid transparent;
  width: 80%;
  height: 45px;
  padding: 0 7px;
  font-size: 18px;
}

.home .card .search input:focus {
  outline: 3px solid #222831;
}

.home .card .search button{
  width: 100px;
  height: 45px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0 7px 7px 0;
  background-color: #222831;
  color: white;
}

.data{
  background-color: #222831;
  width: 100%;
  min-height: 100dvh;
  height: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.data .card-container{
  width: 95%;
  height: auto;
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
}

.data .card-container .card {
  padding-top: 10px;
  width: 200px;
  height: 300px;
  padding-bottom: 10px;
  cursor: pointer;
  background-color: #393E46; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
  border-radius: 8px; 
  transition: transform 0.2s, box-shadow 0.2s;
}


.data .card-container .card .img-cover{
  width: 100%;
  height: 70%;
}

.data .card-container .card .img-cover img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.data .card-container .card .desc{
  width: 100%;
  height: 30%;
  color: #FFFFFF;
  overflow-y: auto;
}

.data .card-container .card .desc::-webkit-scrollbar{
  display: none;
}

.data .card-container .card .desc .author{
  margin-left: 10px;
  margin-top: 15px;
  color: grey;
}
.data .card-container .card .desc .title{
  margin-left: 10px;
  margin-top: 5px;
}

@media only screen and (max-width:700px){
  .home .card{
    height: 40vh;
  }

  .home .card h2{
      margin-top: 100px;
      font-size: 20px;
      opacity: 0;
  }

  .home .card .search{
    width: 80%;
    margin-bottom: 40px;
  }

  .data{
    height: auto;
  }

  .data .card-container{
    display: block;
  }

  .data .card-container .card{
    margin: 0 auto;
    margin-bottom: 20px;
  }
}